//Font Families
$font-primary: 'Lato', sans-serif;

//Font Weights
$thin-weight: 100;
$light-weight: 300;
$regular-weight: 400;
$bold-weight: 700;
$extra-bold-weight: 900;

//Primary Colors
$venice-blue-dark: #035388;
$venice-blue-light: #0B69A3;
$denim: #127FBF;
$curious-blue: #1992D4;
$picton-blue-dark: #2BB0ED;
$picton-blue-light: #40C3F7;
$malibu: #5ED0FA;
$anakiwa: #81DEFD;
$french-pass: #B3ECFF;
$lily-white: #E3F8FF;

//Neutral Colors
$ebony-clay: #1F2933;
$oxford-blue: #323F4B;
$limed-spruce: #3E4C59;
$shuttle-gray: #52606D;
$nevada: #616E7C;
$slate-gray: #7B8794;
$gray-chateau: #9AA5B1;
$ghost: #CBD2D9;
$athens-gray: #E4E7EB;
$catskill-white: #F5F7FA;

//Supporting Colors

//Pink
$pompadour: #620042;
$cardinal-pink: #870557;
$lipstick-dark: #A30664;
$lipstick-light: #BC0A6F;
$red-violet: #DA127D;
$cerise: #E8368F;
$brilliant-rose: #F364A2;
$pink-salmon: #FF8CBA;
$cotton-candy: #FFB8D2;
$pale-rose: #FFE3EC;

//red
$bordeaux: #610316;
$pohutukawa: #8A041A;
$shiraz: #AB091E;
$crimson: #CF1124;
$alizarin-crimson: #E12D39;
$carnation-dark: #EF4E4E;
$carnation-light: #F86A6A;
$mona-lisa: #FF9B9B;
$your-pink: #FFBDBD;
$pippin: #FFE3E3;

//Yellow
$totem-pole: #8D2B0B;
$fiery-orange: #B44D12;
$hot-cinnamon: #CB6E17;
$dixie: #DE911D;
$fuel-yellow: #F0B429;
$casablanca: #F7C948;
$energy-yellow: #FADB5F;
$sweet-corn: #FCE588;
$egg-white: #FFF3C4;
$buttery-white: #FFFBEA;

//Teal
$aqua-deep: #014D40;
$deep-sea-green: #0C6B58;
$genoa: #147D64;
$elm: #199473;
$jungle-green: #27AB83;
$keppel: #3EBD93;
$downy: #65D6AD;
$riptide: #8EEDC7;
$humming-bird: #C6F7E2;
$white-ice: #EFFCF6;
